* {
    box-sizing: border-box;
    color: rgb(65, 65, 65);
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.heading {
    color: rgb(65, 65, 65);
    text-align: center;
    margin-bottom: 0px;
}
.head {
    font-size: 35px;
    -webkit-transition: all 0.2s ease-in;
}
.head:hover {
    font-size: 35px;
    -webkit-transform: scale(1.04,1.04);
}
.subhead {
    color: rgb(65, 65, 65);
    font-weight: lighter;
    font-size: 20px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgb(65, 65, 65);
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 16px 16px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
}

.topnav a:hover {
    -webkit-transform: scale(1.05,1.05);
    color: #E7E7E7;
}

.Download {
    padding: 10px 20px;
    background-color: white;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    border-color: blueviolet;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.2s ease-in;
}

.Download:hover {
    background-color: blueviolet;
    -webkit-transform: scale(1.05,1.05);
    color: #E7E7E7;
}

.Ss {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:  0;
    max-width: 40%;
    height: auto;
    -webkit-transition: all 0.2s ease-in-out;
}

.Ss:hover {
    -webkit-transform: scale(1.04,1.04);
}

.features {
    color: rgb(65, 65, 65);
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.features h2 {
    font-size: 30px;
    -webkit-transition: all 0.2s ease-in-out;
}

.features h2:hover {
    -webkit-transform: scale(1.05,1.05);
}
.card {
    color: rgb(61, 61, 61);
    display: block;
    float: left;
    transition: 0.3s;
    width: 30%;
    height: 200px;
    -webkit-transition: all 0.2s ease-in-out;
}


.card:hover {
    -webkit-transform: scale(1.04,1.04);
}

.container {
    padding: 2px 16px;
}

.footer {
    position: sticky;
    color: rgb(65, 65, 65);
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: white;
}




.Cont {
    display: block;
    position: relative;
    color: rgb(65, 65, 65);
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    color: rgb(65, 65, 65);
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.script {
    padding: 20px;
    color: blueviolet;
    font-weight: bolder;
}

.download_popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.download_content {
    color: rgb(65, 65, 65);
    font-size: 18px;
    background-color: #fefefeda;
    margin: auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    width: 60%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
